# Ignore everything
/*
**/.env

# Files not to ignore 
!/.gitignore
!/swaync
!/starship.toml
!/wlogout/
!/waybar/ 
!/swaylock/ 
!/nvim/ 
!/kitty/ 
!/hypr/ 
!/README.md
!/rofi
!/fastfetch
!/preview
!/cava
!/btop
!/bongocat.conf
