* {
	background-image: none;
    transition: 20ms;
	outline-style: none;
	font-family: "JetBrains Mono NFM";
}

window { 
    background-color: rgba(17, 17, 17, 0.45);
    background-image: url("./wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}



button { 
    margin: 10px;
    border-radius: 20px;

    font-size: 20px;
    font-weight: 600;


    color: #FFFFFF;

	background-color: rgba(0, 0, 0, 0.5);
	background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;


	background-repeat: no-repeat;
	background-position: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:focus, button:active, button:hover {
	background-color: rgba(64, 70, 89, 0.5);
	animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
    background-size: 25%;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
